{% extends "admin/gd/search_first_change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
<a href="{% url 'admin:courses_workshop_calendar' %}" class="btn btn-outline-primary">
    <i class="fas fa-calendar-alt" aria-hidden="true"></i>
    {% trans 'Calendar' %}
</a>
{{ block.super }}
{% endblock %}

{% block changelist_filters_footer_extra %}
<a class="btn btn-sm btn-link gd-changelist-show-all-link" href="?show_all=1{% if cl.is_popup %}&amp;_popup=1{% endif %}">
    {% trans 'Show all historic workshops' %}
</a>
{% endblock %}
